___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [3]:
import pandas as pd

In [5]:
ri = pd.read_csv("02-police.csv",low_memory=False)

In [6]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480584 entries, 0 to 480583
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   stop_datetime       480584 non-null  object
 1   id                  480584 non-null  object
 2   stop_date           480584 non-null  object
 3   stop_time           480584 non-null  object
 4   location_raw        480584 non-null  object
 5   police_department   480584 non-null  object
 6   driver_gender       480584 non-null  object
 7   driver_age_raw      480583 non-null  float64
 8   driver_age          478946 non-null  float64
 9   driver_race_raw     480584 non-null  object
 10  driver_race         480584 non-null  object
 11  violation_raw       480584 non-null  object
 12  violation           480584 non-null  object
 13  search_conducted    480584 non-null  bool
 14  search_type_raw     17762 non-null   object
 15  search_type         17762 non-null   object
 16  contraband_found    480584 non-null  bool
 17  stop_outcome        480584 non-null  object
 18  is_arrested         480584 non-null  bool
 19  stop_duration       480584 non-null  object
 20  out_of_state        479776 non-null  object
 21  drugs_related_stop  480584 non-null  bool
 22  district            480584 non-null  object
 23  combined            480584 non-null  object
dtypes: bool(4), float64(2), object(18)
memory usage: 75.2+ MB

In [20]:
ri["stop_datetime"] = ri["stop_datetime"].astype("datetime64")

In [21]:
ri.set_index(["stop_datetime"],inplace=True)

In [22]:
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,combined
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02-01:55
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02-20:30
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04-12:55
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06-01:30
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,000,M,1973.0,32.0,B,Black,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12-08:05

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [23]:
ri["violation"].unique()

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates', 'Seat belt'], dtype=object)

In [18]:
ri["violation"].value_counts()

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [33]:
len(ri["violation"])

480584

In [24]:
ri_F = ri[ri["driver_gender"]=="F"]

In [27]:
ri_F["violation"].value_counts()

Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64

In [39]:
100*len(ri_F["violation"])/len(ri["violation"])

27.287217219050156

In [25]:
ri_M = ri[ri["driver_gender"]=="M"]

In [28]:
ri_M["violation"].value_counts()

Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
Name: violation, dtype: int64

In [31]:
ri_M["violation"].count

<bound method Series.count of stop_datetime
2005-01-02 01:55:00               Speeding
2005-01-02 20:30:00               Speeding
2005-01-04 12:55:00              Equipment
2005-01-06 01:30:00              Equipment
2005-01-12 08:05:00                  Other
                              ...
2015-12-31 22:46:00               Speeding
2015-12-31 22:47:00    Registration/plates
2015-12-31 23:08:00              Equipment
2015-12-31 23:44:00               Speeding
2015-12-31 23:48:00              Seat belt
Name: violation, Length: 349446, dtype: object>

In [40]:
100*len(ri_M["violation"])/len(ri["violation"])

72.71278278094985

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [41]:
female_and_speeding = ri_F[ri_F["violation"]=="Speeding"]

In [46]:
female_and_speeding["stop_outcome"].unique()

array(['Citation', 'Warning', 'Arrest Passenger', 'Arrest Driver', 'N/D',
       'No Action'], dtype=object)

In [58]:
82168+3362

85530

In [59]:
100*82168/85530

96.06921547994855

In [65]:
female_and_speeding["stop_outcome"].value_counts()*100/len(female_and_speeding["stop_outcome"])

Citation            95.324718
Warning              3.900323
Arrest Driver        0.529015
Arrest Passenger     0.103251
N/D                  0.090489
No Action            0.052205
Name: stop_outcome, dtype: float64

In [60]:
172432+6587

179019

In [61]:
100*172432/179019

96.3205022930527

In [42]:
male_and_speeding = ri_M[ri_M["violation"]=="Speeding"]

In [48]:
male_and_speeding["stop_outcome"].value_counts()

Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
Name: stop_outcome, dtype: int64

In [66]:
male_and_speeding["stop_outcome"].value_counts()*100/len(male_and_speeding["stop_outcome"])

Citation            94.463619
Warning              3.608564
Arrest Driver        1.576658
Arrest Passenger     0.126549
N/D                  0.118332
No Action            0.106279
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [73]:
100*ri["search_conducted"].value_counts()/len(ri["search_conducted"])

False    96.30408
True      3.69592
Name: search_conducted, dtype: float64

In [75]:
ri["search_conducted"].mean()*100

3.6959199640437466

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [78]:
100*ri_F["search_conducted"].mean()

1.8751239152648356

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [79]:
100*ri_M["search_conducted"].mean()

4.379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [86]:
ri.groupby("driver_gender")["search_conducted"].mean()*100

driver_gender
F    1.875124
M    4.379217
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [93]:
ri.groupby(["driver_gender","violation"])[["search_conducted"]].mean()*100

                                   search_conducted
driver_gender violation
F             Equipment                    4.024503
              Moving violation             3.802133
              Other                        4.589818
              Registration/plates          5.469995
              Seat belt                    1.774648
              Speeding                     0.773800
M             Equipment                    7.091568
              Moving violation             5.915621
              Other                        4.611995
              Registration/plates         10.358931
              Seat belt                    3.170503
              Speeding                     2.663007

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [94]:
ri.groupby(["violation","driver_gender"])[["search_conducted"]].mean()*100

                                   search_conducted
violation           driver_gender
Equipment           F                      4.024503
                    M                      7.091568
Moving violation    F                      3.802133
                    M                      5.915621
Other               F                      4.589818
                    M                      4.611995
Registration/plates F                      5.469995
                    M                     10.358931
Seat belt           F                      1.774648
                    M                      3.170503
Speeding            F                      0.773800
                    M                      2.663007

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.